<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="Test userinyerface">
        <classes>
            <class name="tests.TaskTest">
                <methods>
                    <include name="testRegistration"/>
                    <include name="testHideHelp"/>
                    <include name="testAcceptCookies"/>
                    <include name="testTimerTime"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>